body {
    background-image: url("../images/background4.jpg");
     background-size: cover;
}

h1 {
    border-radius:10px;
    font-size:30px;
    color:white;
    width:100%;
    background: rgba(5, 5, 5, 0.9);
    padding:20px;
    border:1px solid white;
}

h2 {
    border-radius:10px;
    font-size:30px;
    color:white;
    width:50%;
    background: rgba(5, 5, 5, 0.9);
    padding:20px;
    border:1px solid white;
}

#Format {
    width: 90%;
    margin: 0 auto;
}

#line {
	height:1px;
	width:100%;
	background-color:black;
	margin-bottom: 5%;
}

.text {
	margin: 2%;
    color:black;
    font-size:20px;
}

.text1 {
    margin: 2%;
    color:white;
    font-size:20px;
}

#Next {
	float:right;
	margin-left:5%;
	color:white;
    background: rgba(64, 64, 64, 0.5);
    text-decoration: none;
    font-size:20px;
    border-style: outset;
    border-color:white;
    padding:5px;
    border-radius:10px;
}

#Next:hover {
	background: rgba(66, 211, 241, 0.7);
	color:white;
}