body {
    background-image: url("../images/background4.jpg");
     background-size: cover;
}

h1 {
    border-radius:10px;
    font-size:30px;
    color:white;
    width:100%;
    background: rgba(5, 5, 5, 0.9);
    padding:20px;
    border:1px solid white;
}

#movieDetails {
	display: inline-block;
    width: 45%;
    height: 80%;
    margin: 10px;
    border: 1px solid white;
    float:left;
}

#MovieForm {
	display: inline-block;
    width: 45%;
    height: 30%;
    margin: 10px;
    border: 1px solid white;
    background: rgba(2, 2, 2, 0.8);
    float:right;
}

.input {
	text-align:center;
	display: inline-block;
	margin-top:4%;
    width: 100%; 

    color:white;
    background: rgba(64, 64, 64, 0.5);
    text-decoration: none;
    font-size:20px;
    border-style: outset;
    border-color:white;
    padding:5px;
    border-radius:10px;
}

.input1 {
    text-align:center;
    display: inline-block;
    margin-top:12%;
    width: 98%;

    color:white;
    background: rgba(64, 64, 64, 0.5);
    text-decoration: none;
    font-size:20px;
    padding:5px;
    border-radius:10px;
}

.input:hover {
    background: rgba(66, 211, 241, 0.7);
    color:white;
}

