h1 {
    border-radius:10px;
    font-size:30px;
    color:white;
    width:100%;
    background: rgba(5, 5, 5, 0.9);
    padding:20px;
    border:1px solid white;
}

body {
    background-image: url("../images/background4.jpg");
     background-size: cover;
}

.field {
    color:black;
    position: relative;
    border-radius: 4px;
    margin-left:3%;
    width: 50%;
    margin-bottom: 5%
}

.label {
    color:white;
    position: relative;
    margin: 3%;
    font-size:20px;
}

#Create {
    color:white;
    background: rgba(64, 64, 64, 0.5);
    text-decoration: none;
    font-size:20px;
    border-style: outset;
    border-color:white;
    padding:5px;
    border-radius:10px;
}

#Create:hover {
	background: rgba(66, 211, 241, 0.7);
    color:white;
}

#border {
	border:1px solid white;
	padding:20px;
}

#errorMessage {
    color:white;
    background:red;
    padding:10px;
    border-radius:10px;
}

.error {
	margin-bottom:3%;
}