body {
    background-image: url("../images/background4.jpg");
     background-size: cover;
}

h1 {
    border-radius:10px;
    font-size:30px;
    color:white;
    width:100%;
    background: rgba(5, 5, 5, 0.9);
    padding:20px;
    border:1px solid white;
}

h2 {
    border-radius:10px;
    font-size:30px;
    color:white;
    width:50%;
    background: rgba(5, 5, 5, 0.9);
    padding:20px;
    border:1px solid white;
}

#tableStyle {
    margin: auto;
    width:50%;
    border: 1px solid white;
}

.column {

}

.column:hover {
    background: rgba(66, 211, 241, 0.7);
	color:white;
}

.dateColumn {
	font-size:30px;
	width:100%;
	background: rgba(64, 64, 64, 0.5);
	color:white;
}

.dateColumn:hover {
	background: rgba(66, 211, 241, 0.7);
	color:white;
}

#tableStyle2 {
	margin: auto;
    width:75%;
    border: 1px solid white;
}