body {
    background-image: url("../images/background4.jpg");
     background-size: cover;
}

h1 {
    border-radius:10px;
    font-size:30px;
    color:white;
    width:100%;
    background: rgba(5, 5, 5, 0.9);
    padding:20px;
}

#tableStyle{
    margin: auto;
    width:70%;
    border: 3px solid white;
}

#line {
    width: 100%;
    height:1px;
    background-color:black;
}

td {
    background: rgba(70, 70, 70, 0.3);
    color:white;
    text-align: center;
    border-bottom: 1px solid black;
    border-right:3px solid black;
}

.title {
    background-color:#BDB76B;
    border-bottom:3px solid black;
    font-size:25px;
}

#lowline {
    margin-bottom:2%;
}


#orderID {
    border-radius:10px;
    border:inset;
}

.Next1 {
    background: rgba(70, 70, 70, 0.3);
    color:white;
    text-decoration: none;
    font-size:20px;
    border-style: outset;
    border-color:white;
    padding:5px;
    border-radius:10px;
    float:right;
    margin-top:3%;
    margin-right:20%;
}

.Next1:hover {
    background: rgba(66, 211, 241, 0.7);
    color:white;
}

#Next2 {
    float:left;
    margin-left:20%;
}